$color-white: #fff;
$color-grey-1: #f7f7f7;
$color-grey-3: #d4d4d4;
$color-grey-4: #b8b8b8;
$color-grey-5: #525c60;
$color-black: #000;

$color-body: #274c5b;
$color-primary: #7eb693;
$color-secondary: #ffa858;
