.header {
  height: 15.2rem;
  padding: 0 4rem;
  background-color: $color-white;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__radio-link {
    display: none;

    & + a > label {
      cursor: pointer;
    }

    &:checked {
      & + a:link,
      & + a:visited {
        color: $color-primary;
      }
    }
  }

  &__logo {
    height: 5.6rem;
    width: 20rem;
  }

  &__nav {
    display: flex;
    gap: 4rem;
    justify-content: space-between;
    transition: all 0.3s;
  }

  &__social-media {
    gap: 1.6rem 3.2rem;
    display: none;
    margin: 0 0.6rem;
  }

  &__links {
    display: flex;
    gap: 4rem;
  }

  &__link {
    &,
    &:link,
    &:visited {
      text-decoration: none;
      position: relative;
    }
  }

  @include media(max, 62.5em) {
    height: 9.6rem;
    padding: 0 2.4rem;

    &__nav {
      display: block;
      position: fixed;
      top: -100vh;
      left: 0;
      right: 0;
      height: 100vh;
      min-height: 50rem;
      z-index: 10;
      padding: clamp(7rem, 14vh, 9.6rem) 1.6rem clamp(2rem, 6vh - 1rem, 3.7rem);
    }

    &__logo {
      height: 4.4rem;
      width: 16rem;
    }

    &__social-media {
      display: flex;
    }

    &__link {
      display: block;
    }

    @include media(max, 31.25em) {
      height: 7.2rem;
      padding: 0 1.6rem;

      &__logo {
        height: 4rem;
        width: 14.2rem;
      }
    }

    .hamburger__checkbox:checked {
      & ~ .header__nav {
        top: 0;
        height: 100vh;
        background-color: $color-white;
        display: grid;
        place-content: center;
        grid-template-rows: repeat(5, minmax(max-content, 6.4rem)) minmax(
            max-content,
            19.2rem
          );
        align-items: center;
        gap: 0.8rem;

        & > .header__social-media {
          align-self: end;
        }
      }

      & ~ .header__logo {
        position: fixed;
        z-index: 11;
        top: 2.6rem;
        left: 2.4rem;

        @include media(max, 31.25em) {
          top: 1.6rem;
          left: 1.6rem;
        }
      }
    }
  }
}
