.news-card {
  position: relative;
  padding: 25.2rem 2.4rem 0;
  flex: 1 1 66.4rem;

  &__bg-img {
    background-size: cover;
    background-position: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: clamp(33.2rem, 36vw, 51.5rem);
    z-index: 1;
    border-radius: 3.2rem;

    &--1 {
      background-image: url(../img/salad.jpeg);
    }

    &--2 {
      background-image: url(../img/tomatoes.jpeg);
    }
  }

  &__date {
    z-index: 2;
    position: absolute;
    top: 3rem;
    left: 3rem;
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    background-color: $color-white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__text-box {
    z-index: 2;
    position: relative;
    background-color: $color-white;
    border-radius: 3.2rem;
    box-shadow: 1.6rem 2.4rem 5.2rem -0.8rem rgba(0, 0, 0, 0.15);
    padding: 4.8rem;
  }

  &__customer {
    display: flex;
    gap: 0.8rem;
    align-items: center;
    margin-bottom: 1.6rem;
  }

  &__user-icon {
    width: 2.4rem;
    height: 2.4rem;
  }

  &__subtitle {
    margin-bottom: 1.6rem;
  }

  &__text {
    margin-bottom: 2.4rem;
  }

  @include media(max, 62.5em) {
    &__text-box {
      padding: 3.2rem;
    }

    &__cards {
      gap: 3.2rem;
    }
  }

  @include media(max, 31.25em) {
    padding: 25.2rem 1.6rem 0;

    &__text-box {
      padding: 2.4rem 1.6rem;
    }
  }
}
