.eco-friendly {
  background-color: $color-white;
  padding: 0 4rem;
  position: relative;

  &__bg-container {
    top: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    width: 57vw;
    background-image: url(../img/farm.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 60%;
  }

  &__content {
    position: relative;
    z-index: 1;
    max-width: 136rem;
    padding: clamp(5.6rem, 15vw - 16rem, 20rem) 0;
    margin: 0 auto;
  }

  &__text-box {
    margin-left: 47.6%;
    max-width: 71.2rem;
    padding: 3.6rem 3.5rem 6.8rem 4.8rem;
    background-color: $color-white;
    border-radius: 3.2rem;
    box-shadow: 1.6rem 2.4rem 5.2rem -0.8rem rgba($color-black, 0.15);
  }

  &__subtitle {
    color: $color-primary;
  }

  &__title {
    margin-bottom: 5.5rem;
  }

  &__statement-title {
    margin-bottom: 0.4rem;
  }

  &__statement-text:not(:last-of-type) {
    margin-bottom: 1.3rem;
  }

  @include media(max, 62.5em) {
    padding: 0 2.4rem;

    &__bg-container {
      bottom: auto;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: clamp(30.8rem, 60vw, 50%); // temp
    }

    &__content {
      padding: 5.6rem 0;
      margin: 0 auto;
    }

    &__text-box {
      margin: 45% auto 0;
      width: 100%;
    }

    &__title {
      margin-bottom: 4.8rem;
    }

    &__statement-title {
      margin-bottom: 0.8rem;
    }

    &__statement-text:not(:last-of-type) {
      margin-bottom: 2.4rem;
    }
  }

  @include media(max, 31.25em) {
    padding: 0 1.6rem;

    &__title {
      margin-bottom: 3.2rem;
    }
  }
}
