.hero {
  height: calc(100vh - 15.2rem);
  background-image: url(../img/hero.jpeg);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  padding: 0 4rem;
  display: grid;
  grid-template-columns: minmax(min-content, 136rem);
  place-content: center;
  justify-items: start;

  &__title {
    max-width: 49.6rem;
    margin-bottom: 3.6rem;
  }

  &__subtitle {
    color: $color-primary;
  }

  @include media(max, 62.5em) {
    height: calc(100vh - 9.6rem);
    background-position: 32%;
    padding: 0 2.4rem;

    &__title {
      margin-bottom: 4rem;
      max-width: 46rem;
    }
  }

  @include media(max, 31.25em) {
    height: calc(100vh - 7.2rem);
    padding: 0 1.6rem;
  }
}
